ALTER TABLE training_program_activities DROP CONSTRAINT IF EXISTS training_program_activities_type_check; ALTER TABLE training_program_activities ADD CONSTRAINT training_program_activities_type_check CHECK (type IN ('workout', 'metrics', 'photo', 'form', 'custom', 'walking'));
